.contCatalogo{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    width: 900px;
    margin: 0 auto;
    font-family: 'Martian Mono', monospace;
}

.Catalogo{
    margin: 4px;
}

.imgCatalogo{
    height: 260px;
    border-radius: 10px; 
}

.nameCatalogo{
    margin: 0;
    padding: 4px;
    font-size: 12px;
}

.valorCatalogo{
    margin-top: 6px;
    padding: 6px;
    font-size: 16px;
}

.btn{
    width: 260px;
    height: 50px;
    border-radius: 10px;
    border: none;
    transition: 0.2s all ease;
    background-color: rgb(168, 168, 168);
}

.btn:hover{
    background-color: rgb(129, 129, 129);
}

.buttonCatalogo{
    width: 260px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Martian Mono', monospace;
    color: black;
    text-decoration: none;
    transition: 0.2s all ease;
}

.buttonCatalogo:hover{
    color: white;
}
